{% extends 'layout.html' %}

{% block menu %}
{% if level == 'ADMIN' %}
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/escuelas"> Escuelas <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/graduaciones"> Graduaciones </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/register_members"> Registrar usuarios </a>
        </li>
    </ul>
{% else %}
     <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/escuelas"> Escuelas <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/graduaciones"> Graduaciones </a>
        </li>   
    </ul>
{% endif %}
{% endblock %}

{% block body %}

<h1 class="text-center mt-4"> Dashboard </h1>
<div class="row justify-content-center">
    <div class="jumbotron mt-4 col-lg-12">
        <h1 class="display-4">En construccion...</h1>
        <p class="lead">La siguiente pagina se encuentra en construccion</p>
        <hr class="my-4">
        <p>Favor de visitarla mas tarde</p>
    </div>
</div>

{% endblock %}