{% extends 'layout.html' %}

{% block menu %}
{% endblock %}

{% block body %}

<div id='alerts'></div>

<h2 class="text-center mt-4" id="table_name">{{event.0}}</h2>


<!-- tabs for tables -->
<ul class="nav nav-tabs col-12 text-center mt-4">

    <li class="nav-item col-6">
        <a class="nav-link active" data-toggle="tab" href="#clients">Clientes</a>
    </li>

    <li class="nav-item col-6">
        <a class="nav-link" data-toggle="tab" href="#orders">Pedidos</a>

    </li>

</ul>

<!-- options -->
<div class="row justify-content-center form-inline col-12 mt-4 mb-4">

    <div class="col-9 col-lg-5 my-1">
        <div class="input-group input-group-sm">
            <div class="input-group-prepend">
                <div class="input-group-text">Buscar</div>
            </div>
            <input type="text" autocomplete="off" class="form-control" id="search_client"
                placeholder="Ingresa datos para la busqueda" onchange="search_client();">
        </div>
    </div>

    <button type="button" class="col-3 col-lg-1 btn btn-info btn-sm" data-toggle="modal"
        data-target="#addOrder" onclick="addClientOrder();">Agregar
    </button>

</div>

<!-- content -->
<div id="myTabContent" class="tab-content">

    <div class="tab-pane fade active show" id="clients">
        <!-- create table for clients -->
        <div class="mt-4 justify-content-center">
            <table class="table table-striped table-active table-bordered table-sm text-center col-12">
                <thead>
                    <tr>
                        <td>Nombre(s)</td>
                        <td class="no_visible">Apellidos</td>
                        <td>Telefono</td>
                        <td class="no_visible">Correo</td>
                        <td>Acciones</td>
                    </tr>
                </thead>
                <tbody id="table_client">
                    {% set idSeller = session['id'] %}
                    {% for client in clients %}
                    <tr>
                        <td id="idName{{client.idClient}}">{{ client.name }}</td>
                        <td id="idLast{{client.idClient}}" class="no_visible">{{ client.lastname }}</td>
                        <td> <a href="https://wa.me/+52{{client.telephone}}?text=Panoramicas Xalapa HD" target="_blank">
                                {{ client.telephone }} </a> </td>
                        <td class="no_visible">{{ client.email }}</td>
                        <td>
                            <button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                                data-target="#addOrder"
                                onclick="add_orderGraduation('{{idSeller}}','{{client.idClient}}','{{event.1}}','{{ client.name }}','{{ client.lastname }}');">
                                Agregar pedido
                            </button>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="tab-pane fade" id="orders">
        <!-- create table for orders -->
        <div class="row mt-4 justify-content-center">
            <table class="table table-striped table-active table-bordered table-sm text-center col-11">
                <thead>
                    <tr>
                        <td class="">Nombre(s)</td>
                        <td class="">Apellidos</td>
                        <td class="no_visible"># de Mesa</td>
                        <td class="no_visible"># de Foto</td>
                        <td class="no_visible">6x9</td>
                        <td class="no_visible">8x12</td>
                        <td class="no_visible">Costo</td>
                        <td class="no_visible">Pagado</td>
                        <td class="">Acciones</td>
                    </tr>
                </thead>
                <tbody id="table_order">
                    {% set idSeller = session['id'] %}
                    {% for order in orders %}
                    <tr>
                        <td id="idfilter_name">{{ order.idclient.name }}</td>
                        <td id="idfilter_lastname">{{ order.idclient.lastname }}</td>
                        <td class="no_visible">{{ order.numTable }}</td>
                        <td class="no_visible">{{ order.numPhoto }}</td>
                        <td class="no_visible">{{ order._6x9 }}</td>
                        <td class="no_visible">{{ order._8x12 }}</td>
                        <td class="no_visible">{{ order.cost }}</td>
                        <td class="no_visible">{{ order.payment }}</td>
                        <td>
                            <button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                                data-target="#editOrder"
                                onclick="edit_orderGraduation('{{idSeller}}','{{order.idEvent}}','{{order.idClient}}','{{order.idOrderGraduation}}','{{order.idclient.name}}','{{order.idclient.lastname}}','{{order.numTable}}','{{order.numPhoto}}','{{order._6x9}}','{{order._8x12}}','{{order.cost}}','{{order.payment}}','{{order.status}}');">
                                Editar
                            </button>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>

<!-- modal addOrder -->
<div class="modal fade" id="addOrder" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title_window">Agregar pedido</h5>
                <button type="button" class="close" onclick="reset_cost();" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div id="myTabContent" class="tab-content">

                    <!-- tab for actions -->
                    <div class="tab-pane fade active show" id="data">
                        <form action="" method="" id="form_add">

                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="idSeller" id="idSeller" value="{{session['id']}}">
                            <input type="hidden" name="idEvent" id="idEvent" value="{{event.1}}">
                            <input type="hidden"  name="idClient" id="idClient" value="">

                            <div class="form-group">
                                <label for="exampleInputEmail1">Nombre(s)</label>
                                <input type="text" class="form-control" autocomplete="off" placeholder="Alfredo"
                                    name="name" id="id_name">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1">Apellidos</label>
                                <input type="text" class="form-control" autocomplete="off"
                                    placeholder="Chacón Hampshire" name="lastname" id="id_lastname">
                            </div>

                            <div class="row">
                                <div class="form-group col">
                                    <label for="exampleInputEmail1">Numero de Mesa</label>
                                    <input type="number" class="form-control" autocomplete="off" placeholder="15"
                                        name="id_table" id="id_mesa">
                                </div>
                                <div class="form-group col">
                                    <label for="exampleInputEmail1">Codigo de fotografia</label>
                                    <input type="text" class="form-control" autocomplete="off" placeholder="_DPX3452"
                                        name="num_photo" id="id_foto">
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col">
                                    <label for="exampleInputEmail1">6x9</label>
                                    <input type="number" class="form-control" placeholder="2" name="num_6x9"
                                        id="id_6x9">
                                </div>
                                <div class="form-group col">
                                    <label for="exampleInputEmail1">8x12</label>
                                    <input type="number" class="form-control" placeholder="2" name="num_8x12"
                                        id="id_8x12">
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="btn-group col-6" role="group" aria-label="Basic example">
                                    <button type="button" onclick="rest_6x9();"
                                        class="btn btn-warning btn-md col"><strong>-</strong></button>
                                    <button type="button" onclick="sum_6x9();"
                                        class="btn btn-success btn-md col"><strong>+</strong></button>
                                </div>
                                <div class="btn-group col-6" role="group" aria-label="Basic example">
                                    <button type="button" onclick="rest_8x12();" class="btn col btn-warning btn-md"
                                        id="button_restar_8x12"><strong>-</strong></button>
                                    <button type="button" onclick="sum_8x12();" class="btn col btn-success btn-md"
                                        id="button_sumar_8x12"><strong>+</strong></button>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col">
                                    <label for="exampleInputEmail1">Costo total</label>
                                    <input type="number" class="form-control" placeholder="640" name="cost"
                                        id="id_cost">
                                </div>
                                <div class="form-group col">
                                    <label for="exampleInputEmail1">Pago realizado</label>
                                    <input type="number" class="form-control" autocomplete="off" placeholder="500"
                                        name="payment" id="id_payment">
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Estado del pedido </label>
                                <select name="status" class="custom-select" id="select_status">
                                    <option value="En_proceso">En proceso</option>
                                    <option value="Imprimiendo">Impresion</option>
                                    <option value="Entregado">Entregado</option>
                                </select>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                    onclick="reset_cost();" id="close_modalAdd">Cancelar</button>
                                <button type="submit" class="btn btn-primary"> Agregar </button>
                            </div>
                        </form>
                    </div>

                    <!-- tab calculate cost -->
                    <div class="tab-pane fade" id="cost">

                        <div class="row mt-3">
                            <div class="form-group col">
                                <label for="exampleInputEmail1">6x9</label>
                                <input type="text" class="form-control" placeholder="Cantidad de fotos" id="_6x9"
                                    value="0" onchange="calculate_cost();" readonly>


                            </div>
                            <div class="form-group col">
                                <label for="exampleInputEmail1">8x12</label>
                                <input type="number" class="form-control" placeholder="Cantidad fotos" id="_8x12"
                                    value="0" onchange="calculate_cost();" readonly>
                                
                            </div>
                        </div>

                        <div class="col mt-2">
                            <h5 class="text-center" id="cost_ind">El costo total es de: $ 0</h5>
                        </div>

                    </div>
                    
                </div>

            </div>
        </div>
    </div>
</div>

<!-- modal editOrder -->
<div class="modal fade" id="editOrder" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title_windowEdit">Editar pedido</h5>
                <button type="button" class="close" onclick="reset_cost();" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div id="myTabContent" class="tab-content">

                    <!-- tab for actions -->
                    <div class="tab-pane fade active show" id="data">
                        <form action="" method="" id="form_send">

                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="idSellerEdit" id="idSellerEdit" value="">
                            <input type="hidden" name="idEventEdit" id="idEventEdit" value="">
                            <input type="hidden" name="idClientEdit" id="idClientEdit" value="">
                            <input type="hidden" name="idOrderEdit" id="idOrderEdit" value="">

                            <div class="form-group">
                                <label for="exampleInputEmail1">Nombre(s)</label>
                                <input type="text" class="form-control" autocomplete="off" placeholder="Alfredo"
                                    name="nameEdit" id="id_nameEdit">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1">Apellidos</label>
                                <input type="text" class="form-control" autocomplete="off"
                                    placeholder="Chacón Hampshire" name="lastnameEdit" id="id_lastnameEdit">
                            </div>

                            <div class="row">
                                <div class="form-group col">
                                    <label for="exampleInputEmail1">Numero de Mesa</label>
                                    <input type="number" class="form-control" autocomplete="off" placeholder="15"
                                        name="id_tableEdit" id="id_mesaEdit">
                                </div>
                                <div class="form-group col">
                                    <label for="exampleInputEmail1">Codigo de fotografia</label>
                                    <input type="text" class="form-control" autocomplete="off" placeholder="_DPX3452"
                                        name="num_photoEdit" id="id_fotoEdit">
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col">
                                    <label for="exampleInputEmail1">6x9</label>
                                    <input type="number" class="form-control" placeholder="2" name="num_6x9Edit"
                                        id="id_6x9Edit">
                                </div>
                                <div class="form-group col">
                                    <label for="exampleInputEmail1">8x12</label>
                                    <input type="number" class="form-control" placeholder="2" name="num_8x12Edit"
                                        id="id_8x12Edit">
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="btn-group col-6" role="group" aria-label="Basic example">
                                    <button type="button" onclick="rest_6x9();"
                                        class="btn btn-warning btn-md col"><strong>-</strong></button>
                                    <button type="button" onclick="sum_6x9();"
                                        class="btn btn-success btn-md col"><strong>+</strong></button>
                                </div>
                                <div class="btn-group col-6" role="group" aria-label="Basic example">
                                    <button type="button" onclick="rest_8x12();" class="btn col btn-warning btn-md"
                                        id="button_restar_8x12"><strong>-</strong></button>
                                    <button type="button" onclick="sum_8x12();" class="btn col btn-success btn-md"
                                        id="button_sumar_8x12"><strong>+</strong></button>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col">
                                    <label for="exampleInputEmail1">Costo total</label>
                                    <input type="number" class="form-control" placeholder="640" name="costEdit"
                                        id="id_costEdit">
                                </div>
                                <div class="form-group col">
                                    <label for="exampleInputEmail1">Pago realizado</label>
                                    <input type="number" class="form-control" autocomplete="off" placeholder="500"
                                        name="paymentEdit" id="id_paymentEdit">
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Estado del pedido </label>
                                <select name="statusEdit" class="custom-select" id="select_statusEdit">
                                    <option id="En_proceso" value="En_proceso">En proceso</option>
                                    <option id="Impresion" value="Imprimiendo">Impresion</option>
                                    <option id="Entregado" value="Entregado">Entregado</option>
                                </select>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                    onclick="reset_cost();" id="close_modalEdit">Cancelar</button>
                                <button type="submit" class="btn btn-primary">Actualizar</button>
                            </div>
                        </form>
                    </div>

                    <!-- tab calculate cost -->
                    <div class="tab-pane fade" id="cost">

                        <div class="row mt-3">
                            <div class="form-group col">
                                <label for="exampleInputEmail1">6x9</label>
                                <input type="text" class="form-control" placeholder="Cantidad de fotos" id="_6x9"
                                    value="0" onchange="calculate_cost();" readonly>


                            </div>
                            <div class="form-group col">
                                <label for="exampleInputEmail1">8x12</label>
                                <input type="number" class="form-control" placeholder="Cantidad fotos" id="_8x12"
                                    value="0" onchange="calculate_cost();" readonly>
                                
                            </div>
                        </div>

                        <div class="col mt-2">
                            <h5 class="text-center" id="cost_ind">El costo total es de: $ 0</h5>
                        </div>

                    </div>
                    
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}

<!-- scripts -->
<script src="{{url_for('static', filename='js/graduacion.js')}}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{{url_for('static', filename='js/asinc-orderGraduation.js')}}"></script>
<script src="{{url_for('static', filename='js/asinc-registerClients.js')}}"></script>

{% endblock %}