{% extends 'layout.html' %}

{% block menu %}

{% endblock %}

{% block body %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert {{category}} alert-dismissible fade show mt-3 fixed-bottom col-6 col-lg-6 fade show" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<h1 class="text-center mt-4">Registrar eventos</h1>

<div class="row justify-content-center">

    <!-- create form for add event -->
    <div class="col-11 col-lg-4 row mt-4 justify-content-center">
        <div class="card card-body bg-secondary" style="border-radius: 10px;">
            <form action="/dashboard/register/event" method="POST" class="form-signin ">
                <div>

                    <h1 class="h3 mb-3 font-weight-normal text-center">Datos del evento</h1>

                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                    <div class="form-group">
                        <label >Escuela</label>
                        <select name="school" class="custom-select">
                            <option value="0">Elige la escuela...</option>
                            {% for school in schools %}
                            {% if school.enable == 1 %}
                                <option value="{{school.idSchool}}">{{school.name}} {{school.generation}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label >Nombre del salón</label>
                        <input type="text" name="hallName" class="form-control"  placeholder="Texin" autofocus>
                    </div>

                    <button class="btn btn-lg btn-primary btn-block mt-4" type="submit">Registrar</button>
                </div>
                <p class="mb-3 mt-4 text-muted text-center">Panoramicas Xalapa HD 2020</p>
            </form>
        </div>
    </div>

    <!-- create table -->
    <div class="col-11 col-lg-7 mt-4 justify-content-center">
        <table class="table table-striped table-active table-bordered table-sm text-center">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Escuela</td>
                    <td>Nombre del evento</td>
                    <td>Habilitado</td>
                    <td>Acciones</td>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                <tr>
                    <td>{{ event.idEvent }}</td>
                    <td>{{ event.idschool.name }}</td>
                    <td>{{ event.eventName }}</td>
                    <td>{{ event.enable }}</td>
                    
                    
                    <td>

                        <button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                            data-target="#exampleModalScrollable"
                            onclick="edit_event('{{ event.idEvent }}','{{ event.eventName }}')">
                            Editar
                        </button>

                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                            data-target="#exampleModalScrollable"
                            onclick="delete_event('{{ event.idEvent }}','{{ event.eventName }}')">
                            Eliminar
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

<!-- modal -->
<div class="modal fade" id="exampleModalScrollable" role="dialog">
    <div class="modal-dialog"> 
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title_window"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="POST" id="form_update">

                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nombre del salon</label>
                        <input type="text" class="form-control" autocomplete="off" placeholder="Nombre del salon"
                            name="hallName" id="idhallName" aria-describedby="emailHelp">
                    </div>

                    <p>Permisos del usuario</p>

                    <div class="custom-control custom-radio">
                        <input type="radio" id="idseller" value="SELLER" name="level" class="custom-control-input"
                            checked="">
                        <label class="custom-control-label h6" for="idseller">Vendedor</label>
                    </div>

                    <div class="custom-control custom-radio">
                        <input type="radio" id="idadmin" value="ADMIN" name="level" class="custom-control-input"
                            checked="">
                        <label class="custom-control-label h6" for="idadmin">Administrador</label>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" id="btn_form" class="btn btn-primary"> Actualizar </button>
            </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}

<!-- scripts -->
<script src="{{url_for('static', filename='js/register.js')}}"></script>

{% endblock %}