{% extends 'layout.html' %}

{% block menu %}

{% endblock %}

{% block body %}

<div id='alerts'></div>

<h1 class="text-center mt-4">Registrar clientes</h1>

<div class="row justify-content-center">

    <!-- options -->
    <div class="row justify-content-center form-inline col-12 mt-4 mb-4">

        <div class="col-9 col-lg-5 my-1">
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <div class="input-group-text">Buscar</div>
                </div>
                <input type="text" autocomplete="off" class="form-control" id="search"
                    placeholder="Ingresa datos para la busqueda">
            </div>
        </div>

        <button type="button" class="col-3 col-lg-1 btn btn-info btn-sm" data-toggle="modal" data-target="#formClients">Agregar
        </button>

    </div>

    <!-- create table -->
    <div class="col-11 col-lg-11 mt-4 justify-content-center">
        <table class="table table-striped table-active table-bordered table-sm text-center">
            <thead>
                <tr>
                    <td>Nombre(s)</td>
                    <td class="no_visible">Apellidos</td>
                    <td>Telefono</td>
                    <td class="no_visible">Correo</td>
                    <td class="no_visible">Id escuela</td>
                    <td class="no_visible">Grupo</td>
                    <td>Acciones</td>
                </tr>
            </thead>
            <tbody id="table">
                {% for client in clients %}
                <tr>
                    <td>{{ client.name }}</td>
                    <td class="no_visible">{{ client.lastname }}</td>
                    <td> <a href="https://wa.me/+52{{client.telephone}}?text=Panoramicas Xalapa HD" target="_blank">
                            {{ client.telephone }} </a> </td>
                    <td class="no_visible">{{ client.email }}</td>
                    <td class="no_visible">{{ client.idSchool }}</td>
                    <td class="no_visible">{{ client.group }}</td>
                    <td>

                        <button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                            data-target="#formUpdateClients"
                            onclick="edit_client('{{ client.idClient }}','{{ client.name }}','{{ client.lastname }}','{{ client.email }}','{{ client.telephone}}','{{client.idSchool}}','{{client.group}}')">
                            Editar
                        </button>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

<!-- modal add -->
<div class="modal fade" id="formClients" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="POST" id="form_client">

                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" name="idClient" value="">

                    <div class="form-group">
                        <label>Nombre(s)</label>
                        <input type="text" name="name" class="form-control" placeholder="Alfredo" required>
                    </div>

                    <div class="form-group">
                        <label>Apellidos</label>
                        <input type="text" name="lastname" class="form-control" 
                            placeholder="Chacón Hampshire" required>
                    </div>

                    <div class="form-group">
                        <label>Télefono</label>
                        <input type="text" name="telephone" class="form-control" 
                            placeholder="2281233463">
                    </div>

                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" name="email" class="form-control" 
                            placeholder="example@gmail.com">
                    </div>

                    <div class="form-group">
                        <label>Escuela</label>
                        <select name="school" class="custom-select">
                            <option value="0">Elige la escuela...</option>
                            {% for school in schools %}
                            {% if school.enable == 1 %}
                            <option value="{{school.idSchool}}">{{school.name}} {{school.generation}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Grupo </label>
                        <select name="group" class="custom-select">
                            <option value="#">Elige el grupo...</option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                            <option value="E">E</option>
                            <option value="F">F</option>
                            <option value="G">G</option>
                        </select>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit"  class="btn btn-primary"> Agregar </button>
            </div>
            </form>
        </div>
    </div>
</div>

<!-- modal update -->
<div class="modal fade" id="formUpdateClients" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title_window"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="POST" id="form_update_client">

                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" name="idClientEdit" id="idclient" value="">

                    <div class="form-group">
                        <label>Nombre(s)</label>
                        <input type="text" name="nameEdit" class="form-control" placeholder="Alfredo" id="idname" required>
                    </div>

                    <div class="form-group">
                        <label>Apellidos</label>
                        <input type="text" name="lastnameEdit" class="form-control" id="idlastname"
                            placeholder="Chacón Hampshire" required>
                    </div>

                    <div class="form-group">
                        <label>Télefono</label>
                        <input type="text" name="telephoneEdit" class="form-control" id="idtelephone"
                            placeholder="2281233463">
                    </div>

                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" name="emailEdit" class="form-control" id="idemail"
                            placeholder="example@gmail.com">
                    </div>

                    <div class="form-group">
                        <label>Escuela</label>
                        <select name="schoolEdit" id="idschool" class="custom-select">
                            <option value="0">Elige la escuela...</option>
                            {% for school in schools %}
                            {% if school.enable == 1 %}
                            <option value="{{school.idSchool}}">{{school.name}} {{school.generation}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Grupo </label>
                        <select name="groupEdit" id="idgroup" class="custom-select">
                            <option value="#">Elige el grupo...</option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                            <option value="E">E</option>
                            <option value="F">F</option>
                            <option value="G">G</option>
                        </select>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="close_modalEdit" data-dismiss="modal">Cancelar</button>
                <button type="submit" id="btn_form" class="btn btn-primary"> Actualizar </button>
            </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}

<!-- scripts -->
<script type="text/javascript" src="{{url_for('static', filename='js/register.js')}}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/asinc-registerClients.js')}}"></script>

{% endblock %}