{% extends 'layout.html' %}

{% block menu %}
<ul class="navbar-nav mr-auto">
    <li class="nav-item active">
        <a class="nav-link" href="/escuelas"> Escuelas <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/graduaciones"> Graduaciones </a>
    </li>
</ul>
{% endblock %}

{% block body %}

<h2 class="text-center mt-4">{{event}}</h2>

<!-- form calculate cost and add client  -->
<div class="row justify-content-center">

    <!-- create form to calculate cost-->
    <div class="mt-4 col-lg-3 row justify-content-center ">
        <div class="card card-body bg-primary col-10">
            <h3 class="text-center">Calcular costo</h3>
            <div class="row justify-content-center">
                <div class="col-5 col-lg-10 mt-3">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">6x9</span>
                        </div>
                        <input type="number" id="_6x9" value="0" onchange="calculate_cost();" class="form-control"
                            placeholder="Cantidad de fotos">
                    </div>
                </div>
                <div class="col-6 col-lg-12 mt-3">
                    <div class="input-group mb-3 col">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">8x12</span>
                        </div>
                        <input type="number" id="_8x12" value="0" onchange="calculate_cost();" class="form-control"
                            placeholder="Cantidad de fotos">
                    </div>
                </div>

            </div>

            <div class="col mt-2">
                <h5 class="text-center" id="cost_ind">El costo total es de: $ 0</h5>
            </div>

        </div>
    </div>

    <!-- create form to add client -->
    <div class="mt-4 col-lg-6 row justify-content-center">
        <div class="card card-body bg-primary col-10">
            <form action="/add_client" method="POST" name="add">
                <h3 class="text-center mb-3">Datos del cliente </h3>

                <input type="text" name="event_selected" value="{{event}}" style="display: none;">

                <div class="row">
                    <div class="input-group mb-3 col-lg-12">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"> Nombre </span>
                        </div>
                        <input type="text" name="name" class="form-control" placeholder="Ingresa el nombre del cliente">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"> # Mesa </span>
                            </div>
                            <input type="text" name="id_table" class="form-control" placeholder="Mesa">
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"> # Foto </span>
                            </div>
                            <input type="text" name="num_photo" class="form-control" placeholder="Fotografia">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"> # 6x9 </span>
                            </div>
                            <input type="text" name="num_6x9" readonly="readonly" class="form-control"
                                placeholder="Cantidad">
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" readonly="readonly" id="basic-addon1"> # 8x12 </span>
                            </div>
                            <input type="text" name="num_8x12" class="form-control" placeholder="Cantidad">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"> Costo $ </span>
                            </div>
                            <input type="text" name="cost" id="cost" readonly="readonly" class="form-control"
                                placeholder="Cantidad">
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"> Pago $ </span>
                            </div>
                            <input type="text" name="payment" id="payment" class="form-control" placeholder="Cantidad">
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-dark btn-block mb-3" onsubmit="validate()">Agregar pedido</button>
            </form>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert {{category}} alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>
</div>

<!-- create table -->
<div class="row mt-4 justify-content-center">
    <table class="table table-striped table-active table-bordered table-sm text-center col-10">
        <thead>
            <tr>
                <td>Nombre</td>
                <td># de Mesa</td>
                <td class="no_visible"># de Foto</td>
                <td class="no_visible">6x9</td>
                <td class="no_visible">8x12</td>
                <td>Costo</td>
                <td>Pagado</td>
                <td>Acciones</td>
            </tr>
        </thead>
        <tbody>
            {% for client in data %}
            <tr>
                <td>{{ client.1 }}</td>
                <td>{{ client.2 }}</td>
                <td>{{ client.3 }}</td>
                <td class="no_visible">{{ client.4 }}</td>
                <td class="no_visible">{{ client.5 }}</td>
                <td class="no_visible">{{ client.6 }}</td>
                <td>{{ client.7 }}</td>
                <td>
                    <a href="/edit_client/{{event}}/{{client.0}}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="/delete_client/{{event}}/{{client.0}}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- scripts -->
<script src="{{url_for('static', filename='js/main.js')}}"></script>

{% endblock %}